.tracksList {
  outline: none;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  user-select: none;
}

.tracksListScroller {
  overflow-y: scroll;
  flex: 1 1 auto;
  position: relative;
}

.tracksListRows {
  width: 100%;
  position: relative;
}
