.tracksList {
  outline: none;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  user-select: none;
}

.tracksListScroller {
  overflow: auto;
  flex: 1 1 auto;
}

.tracksListRows {
  width: 100%;
  position: relative;
}

.tiles {
  position: relative;
}

.tile {
  position: absolute;
  width: 100%;
  z-index: 10;
}
