.playingBar {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  background: var(--header-bg-softer);
  border: solid 1px var(--border-color-softer);
  border-width: 0 1px;
}

.playingBar__cover {
  flex-shrink: 0;
  width: 50px;
  overflow: hidden;
  box-sizing: content-box;
  border-right: solid 1px var(--border-color-softer);
}

.playerOptions {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
