.playing-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.playing-bar__cover {
  width: 60px;
  flex: 0 0 auto;
}

.playing-bar__queue {
  -webkit-app-region: no-drag;
  width: 60px;
  flex: 0 0 auto;
  position: relative;
}

.queue-toggle {
  color: inherit;
  border: 0;
  background: transparent;
  font-size: 14px;
  box-shadow: none;
}

.queue-container {
  -webkit-app-region: no-drag;
  display: none;
  position: absolute;
  z-index: 1000;
  text-align: left;
  right: 0;
  top: 26px;

  &.is-open {
    display: block;
  }
}
