.playingBar {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
}

.playingBar__cover {
  flex-shrink: 0;
  width: 49px;
  overflow: hidden;
}

.queueToggle {
  line-height: 22px;
  margin-left: 12px;
  color: inherit;
  border: 0;
  background: transparent;
  font-size: 14px;
  box-shadow: none;
}

.queueContainer {
  -webkit-app-region: no-drag;
  display: none;
  position: absolute;
  z-index: 1000;
  text-align: left;
  right: 0;

  &[data-state='open'] {
    display: block;
  }
}

.playerOptions {
  -webkit-app-region: no-drag;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
