/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

@font-face {
  font-family: OpenSans;
  src: url("~open-sans-fontface/fonts/Regular/OpenSans-Regular.woff2");
}


@font-face {
  font-family: OpenSans;
  src: url("~open-sans-fontface/fonts/Bold/OpenSans-Bold.woff2");
  font-weight: bold;
}


@font-face {
  font-family: OpenSans;
  src: url("~open-sans-fontface/fonts/Light/OpenSans-Light.woff2");
  font-weight: 100;
}
