//--------------------------------------------------------------------------
// Third Parties
//--------------------------------------------------------------------------

.react-simple-input-container {
  position: relative;
  width: 180px;

  .react-simple-input {
    padding: 6px 12px;
    border: 1px solid #C7C7C7;
    color: #555;
    border-radius: 2px;
  }

  .react-simple-input-clear {
    position: absolute;
    right: 6px;
    top: 1px;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    padding: 2px;
  }
}

.rangeslider-horizontal {
  border-radius: 1px;
  height: 5px;
  width: 90px;
}

.rangeslider {
  box-shadow: none;
  margin: 0;
  background-color: #dadada;
  border: none;
}

.rangeslider-horizontal .rangeslider__fill {
  box-shadow: none;
  background-color: $main-color;
  border-radius: 1px
}

.rangeslider .rangeslider__handle {
  box-shadow: none;
}

.rangeslider-horizontal .rangeslider__handle {
  width: 12px;
  height: 12px;
  outline: none;
  // opacity: 0;

  &:after {
    display: none;
  }
}
