//--------------------------------------------------------------------------
// View - Playlists
//--------------------------------------------------------------------------

.view.view-playlists {
  display: flex;

  .playlists-nav {
    background-color: $generic-lightgrey;
    border-right: 1px solid #d2d2d2;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    width: 240px;

    .playlists-nav-body {
      max-height: 100%;
      overflow: auto;

      .playlist-nav-item {

        &:first-child {

          a {
            border-width: 0 0 1px 0;

            &.active {
              border-width: 0 0 1px 0;
            }
          }

          input[type="text"] {
            border-width: 0 0 1px 0;
          }
        }

        a {
          border-color: transparent;
          border-style: solid;
          border-width: 1px 0;
          color: inherit;
          cursor: pointer;
          display: block;
          overflow: hidden;
          padding: 12px 15px;
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:hover {
            background-color: #e6e6e6;
          }

          &.active {
            background-color: #e6e6e6;
            border-color: #d2d2d2;
            border-style: solid;
            border-width: 1px 0;
            color: $main-color;
          }
        }

        input[type="text"] {
          background-color: $generic-white;
          border-color: #d2d2d2;
          border-style: solid;
          border-width: 1px 0;
          color: $main-color;
          display: block;
          outline: none;
          padding: 12px 15px;
          width: 100%;
        }
      }
    }

    .playlists-nav-footer {
      bottom: 0;
      position: absolute;

      .playlists-management {
        border: solid 1px #CCC;
        margin: 10px;

        button {
          color: #555;
          text-align: center;
          text-align: center;
          width: 22px;

          .fa {
            margin-right: 0;
          }
        }
      }
    }
  }

  .playlist {
    width: calc(100% - 240px);

    .tracks-list-header {
      width: calc(100% - 242px); // HACK
    }
  }
}
