//--------------------------------------------------------------------------
// View - LibraryList
//--------------------------------------------------------------------------

.view-library,
.view-playlists {
  overflow: hidden;

  .tracks-list-container {
    height: calc(100% - 26px);
    max-height: calc(100% - 26px);
    outline: none;

    .tracks-list-header {
      background-color: $generic-white;
      border-bottom: 1px solid rgb(210, 210, 210);
      color: #555;
      display: flex;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 20;

      .track-cell-header {
        cursor: default;
        font-weight: 700;
        margin: 4px 0;
        overflow: hidden;
        padding: 0 4px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(:last-child) {
          border-right: 1px solid #D2D2D2;
        }
      }
    }

    .tracks-list-body {
      height: 100%;
      margin-top: 26px;
      max-height: 100%;
      overflow: auto;

      .tracks-list-render-view {
        margin-bottom: 0 !important; // Overriding react-custom-scrollbars
        overflow-x: hidden !important; // there is no overflow-x
      }

      .track-vertical {
        background-color: #DDD;
        bottom: 8px;
        right: 8px;
        top: 8px;
        z-index: 10;
      }

      .thumb-vertical {
        background: rgba(0, 0, 0, .25);
      }

      .tracks-list-tiles {
        position: relative;

        .tracks-list-tile {
          position: absolute;
          width: 100%;
          z-index: 10;

          .track {
            display: flex;

            &:nth-child(odd) {
              background-color: #F4F4F4;
            }

            &.selected {
              background-color: $main-color;
              color: $generic-white;

              // put that elsewhere someday
              .playing-indicator {

                .animation {

                  .bar {
                    background-color: #EEE;
                  }
                }
              }
            }

            .cell {
              cursor: default;
              line-height: 24px;
              overflow: hidden;
              padding: 3px 4px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .cell-track-playing {
      width: 30px;
    }

    .cell-track {
      width: calc(33% - 30px);
    }

    .cell-duration {
      width: 7%;
    }

    .cell-artist,
    .cell-album,
    .cell-genre {
      width: 20%;
    }
  }
}
