//--------------------------------------------------------------------------
// View - General
//--------------------------------------------------------------------------

#wrap {
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content,
.view,
.columns {
  height: 100%;
  max-height: 100%;
}

.main-content {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;

  h2 {
    margin-top: 0;
  }

  .btn .fa {
    display: inline-block;
    margin-right: 12px;
  }
}

.view {
  overflow: auto;
  position: relative;

  &.view-withpadding {
    padding: 15px;
  }
}

.full-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  color: #555;
  font-weight: 100;
  padding: 30px;
  margin: auto;
  text-align: center;

  .sub-message {
    font-size: 70%;
  }

  a {
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.dropzone {
  border: dashed 1px lightgrey;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  &.dragging {
    border-color: $main-color;
  }

  .title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .subtitle {
    color: #7d7d7d;
  }
}

.playing-indicator {
  height: 100%;
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  .animation {
    width: 8px;
    height: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .bar {
      height: 8px;
      width: 2px;
      align-items: baseline;
      background-color: #333;
      animation: bar-animate;
      animation-duration: .8s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transform-origin: bottom;
      transform: scaleY(0) translate3d(0, 0, 0);
      will-change: transform;

      &.bar-second {
        animation-delay: .55s;
      }

      &.bar-third {
        animation-delay: .25s;
      }

      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  }
}

@keyframes bar-animate {

  from {
    transform: scaleY(0) translate3d(0, 0, 0);
  }

  50% {
    transform: scaleY(1) translate3d(0, 0, 0);
  }

  to {
    transform: scaleY(0) translate3d(0, 0, 0);
  }
}
