//--------------------------------------------------------------------------
// View - LibraryList
//--------------------------------------------------------------------------

.view-library,
.view-playlists {
  overflow: hidden;

  .tracks-list {
    outline: none;
    display: flex;
    flex-direction: column;
    height: 100%;

    .tracks-list-header {
      border-bottom: 1px solid rgb(210, 210, 210);
      color: #555;
      display: flex;
      width: 100%;
      background-color: $generic-white;

      .track-cell-header {
        font-weight: 700;
        cursor: default;
        -webkit-appearance: none;
        border: 0;
        background: transparent;
        display: block;
        text-align: left;
        padding: 0;
        cursor: default;
        display: flex;
        align-items: center;

        &.sort:focus {
          background-color: rgba(0, 0, 0, .025);
        }

        &.sort:active {
          background-color: rgba(0, 0, 0, .04);
        }

        .col-icon {
          padding-right: 6px;
        }

        .col-name {
          flex: 1;
          margin: 4px 0;
          padding: 0 4px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:not(:first-child) {
          .col-name {
            border-left: 1px solid #D2D2D2;
          }
        }
      }
    }

    .tracks-list-body {
      height: 100%;
      max-height: 100%;
      overflow: auto;

      .tracks-list-render-view {
        overflow-x: hidden !important; // Overriding react-custom-scrollbars
        margin-bottom: 0 !important; // there is no overflow-x
      }

      .track-vertical {
        right: 8px;
        background-color: #DDD;
        top: 8px;
        bottom: 8px;
        z-index: 10;
      }

      .thumb-vertical {
        background: rgba(0, 0, 0, .25);
      }

      .tracks-list-tiles {
        position: relative;

        .tracks-list-tile {
          position: absolute;
          width: 100%;
          z-index: 10;

          .track {
            display: flex;
            outline: none;

            &:nth-child(odd) {
              background-color: #F4F4F4;
            }

            &.selected {
              background-color: $main-color;
              color: $generic-white;

              // put that elsewhere someday
              .playing-indicator {

                .animation {

                  .bar {
                    background-color: #EEE;
                  }
                }
              }
            }

            .cell {
              padding: 3px 4px;
              cursor: default;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 24px;
            }
          }
        }
      }
    }

    .cell-track-playing {
      width: 30px;
    }

    .cell-track {
      flex: 1;
    }

    .cell-duration {
      width: 7%;
    }

    .cell-artist,
    .cell-album,
    .cell-genre {
      width: 20%;
    }
  }
}
