//--------------------------------------------------------------------------
// View - Settings
//--------------------------------------------------------------------------

.view-settings {

  .settings-menu {
    width: 75%;
    max-width: 700px;
    margin: auto;
  }

  .settings-link {
    display: inline-block;
    padding: 15px;
    color: #333;
    font-weight: bold;


    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &.active {
      color: $main-color;
    }
  }

  .settings-content {
    width: 75%;
    max-width: 700px;
    margin: auto;

    padding: 10px 15px;

    .setting-title {
      display: inline-block;
      font-weight: bold;
      margin-top: 4px;
    }

    /* .setting-description {
      font-size: .85rem;
      margin-top: 3px;
    } */

    .setting-section {
      .form-group {
        margin-top: 10px;
      }

      .checkbox {

        label {
          padding-left: 28px; // Bootstrap default is 20

          input[type="checkbox"] {
            -webkit-appearance: none; // reset everything
            width: 18px;
            height: 18px;
            border-radius: 3px;
            display: inline-block;
            background-color: $generic-lightgrey;
            border: 1px solid darken($generic-lightgrey, 20%);
            outline: none;
            margin-left: -28px;

            &:checked {
              background-color: $main-color;
              border: darken($main-color, 20%);

              &:after {
                content: "\f00c";
                font-family: FontAwesome;
                font-size: 14px;
                color: $generic-white;
                position: absolute;
                top: 2px;
                left: 2px;
              }
            }
          }
        }
      }
    }
  }
}


//--------------------------------------------------------------------------
// View - About
//--------------------------------------------------------------------------

.view-settings .setting-about {

  .heart {
    color: #c70000;
  }
}
