/* Third Parties */
:global(.react-simple-input-container) {
  position: relative;
  width: 180px;

  :global(.react-simple-input-clear) {
    position: absolute;
    right: 6px;
    top: 1px;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    padding: 2px;
  }
}

:global .rangeslider-horizontal {
  border-radius: var(--border-radius);
  height: 5px;
  width: 90px;
}

:global .rangeslider {
  box-shadow: none;
  margin: 0;
  background-color: var(--slider-bg);
  border: 0;
}

:global .rangeslider-horizontal .rangeslider__fill {
  box-shadow: none;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
}

:global .rangeslider .rangeslider__handle {
  box-shadow: none;
}

:global .rangeslider-horizontal .rangeslider__handle {
  width: 12px;
  height: 12px;
  outline: none;

  &::after {
    display: none;
  }
}
