.queue__header {
  padding: 5px 10px;
  background-color: var(--queue-header-bg);
}

.queue__header__infos {
  float: right;
  font-size: 11px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.queue__content {
  max-height: 250px;
  overflow: auto;
}
