{
  "presets": [
    ["env", {
      "targets": { "chrome": 62 },
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
