{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 56,
        "node": 7.4
      },
      "useBuiltIns": true
    }],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-async-to-generator"
  ]
}
