{
  "parserOptions": { "parser": "@typescript-eslint/parser" },
  "plugins": ["@typescript-eslint", "jsx-a11y", "import"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "settings": { "react": { "version": "detect" } },
  "env": { "jest": true },
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/named": "off",
    "import/default": "off",
    "spaced-comment": ["error", "always"],
    "no-console": 2
  },
  "globals": { "describe": true }
}
