{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "class-methods-use-this": "warn",
    "max-len": ["warn", 150],
    "new-cap": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "prefer-destructuring": ["error", {
      "array": false,
      "object": true
    }],
    "react/forbid-prop-types": "warn",
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/prefer-stateless-function": "off",
    "jsx-a11y/anchor-is-valid": [ "error", { "specialLink": [ "to" ] } ],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off"
  },
}
