{
    "printWidth": 120,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": true,
    "overrides": [
        {
            "files": ["**/*.css"],
            "options": {
                "printWidth": 1000
            }
        }
    ]
}
