{
  "extends": ["stylelint-config-standard", "stylelint-config-css-modules"],
  "ignoreFiles": ["./src/**/*.tsx", "./src/**/*.ts"],
  "rules": {
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "alpha-value-notation": "number",
    "import-notation": null
  }
}
