.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
