.button {
  background-color: var(--button-bg);
  color: var(--button-color);
  padding: 6px 8px;
  border-radius: var(--border-radius);
  border: solid 1px var(--button-border);
}

.danger {
  color: white;
  background-color: #de4343;
}

.small {
  font-size: 10px;
  padding: 1px 5px;
}
