.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
}

.view,
.columns {
  height: 100%;
  max-height: 100%;
}

.view {
  background-color: var(--view-bg);
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}
