.queue {
  width: 300px;
  background: white;
  border: solid 1px rgb(210, 210, 210);
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-size: 12px;
  color: grey;
  box-shadow: 0 5px 3px -5px rgba(0, 0, 0, .5);
}
