.queue {
  width: 300px;
  background: var(--queue-bg);
  border: solid 1px var(--border-color);
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-size: 12px;
  box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.5);
}
