.search__container {
  position: relative;
  width: 180px;
  display: flex;
  align-items: center;
}

.search__input {
  display: block;
  font-size: inherit;
  width: 100%;
  padding: 6px 12px;
  background-color: var(--search-bg);
  border: 1px solid var(--border-color);
  color: var(--text);
  border-radius: var(--border-radius);
}

.search__clear {
  position: absolute;
  right: 6px;
  top: 1px;
  font-size: 16px;
  color: var(--text);
  cursor: pointer;
  padding: 2px;
  border: none;
  background: transparent;
}
