.button {
  background-color: white;
  padding: 6px 8px;
  border-radius: var(--border-radius);
  border: solid 1px rgba(0, 0, 0, 0.2);

  &:hover {
    border: solid 1px rgba(0, 0, 0, 0.4);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

.danger {
  color: white;
  background-color: #de4343;
}

.small {
  font-size: 10px;
  padding: 1px 5px;
}
