.viewDetails {
  /* nothing */
}

.detailsForm {
  width: 400px;
  padding: 10px 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.detailsCover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsActions {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: end;
}
