.viewDetails {
  display: flex;
  justify-content: center;
}

.detailForm {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  padding: 10px 0;
  width: 100%;
}

.detailCover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailActions {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: end;
}
