/**
 * Dark Theme
 */

body.theme-dark {
    border-color: #333;

    hr {
        border-top-color: #555;
    }

    /*
    |--------------------------------------------------------------------------
    | Header
    |--------------------------------------------------------------------------
    */

    header {
        background-color: #555;
        border-bottom-color: #333;
        color: #EEE;

        .search {
            border-color: #4A4A4A;
            background-color: #444;
            color: #EEE;
        }

        .main-controls .window-controls .window-control {
            color: #AAA;

            &:active {
                background-color: #555;
                border-color: #444;
            }
        }

        .main-controls {

            .player-controls {

                .player-control {
                    color: #EEE;
                }

                .volume-control{
                    background-color: #555;
                }
            }
       }

        .now-playing {

           .now-playing-bar .progress {
               background-color: #444;
            }

            .now-playing-infos .player-options .button {

                svg {
                    fill: #EEE;
                }

                &.active svg {
                    fill: #337ab7;
                }
            }
        }

        .queue-controls .queue {
            background-color: #444;
            border-color: #666;
            box-shadow: 0 5px 3px -5px rgba(255, 255, 255, .5);

            .queue-header {
                background-color: #555;

                .queue-infos {
                    color: #DDD;
                }

                .empty-button {
                    background-color: #555;
                    color: #EEE;
                    border-color: #444;
                }
            }

            .queue-body {

                .track {
                    &::before,
                    &::after {
                        background-color: #555;
                    }

                    &:not(:last-child) {
                        border-bottom-color: #555;
                    }

                    .remove {
                        color: #EEE;
                    }

                    .other-infos,
                    .title {
                        color: #EEE;
                    }
                }
            }
        }
    }



    /*
    |--------------------------------------------------------------------------
    | Footer
    |--------------------------------------------------------------------------
    */

    footer {
        border-top-color: #333;
        background-color: #555;
        color: #EEE;

        .view-switcher .view-link {
            color: #EEE;
            border-color: #444;

            &:hover,
            &:focus,
            &:active:hover {
                background-color: #4A4A4A;
                color: #EEE;
                border-color: #444;
            }
        }

        .status {
            color: #AAA;
        }
    }



    /*
    |--------------------------------------------------------------------------
    | View -- General
    |--------------------------------------------------------------------------
    */

    .view {
        background-color: #444;
        color: #EEE;

        div.tracks-list-container {

            div.tracks-list-header {
                border-bottom: 1px solid #333333;
                background-color: #444;
                color: #eeeeee;

                .track-cell-header:not(:last-child) {
                    border-color: #777;
                }
            }

            div.tracks-list-body > div.track:nth-of-type(odd) {
                background-color: #555;

                &.selected {
                    background-color: #459CE7;
                }
            }
        }

        &.view-settings .musicfolders-list {
            border-color: #555;
        }
    }



    /*
    |--------------------------------------------------------------------------
    | View -- Settings
    |--------------------------------------------------------------------------
    */

    .view-settings {

        .nav-pills {

            &>li>a {
                color: #eeeeee;
            }

            &>li.active>a,
            &>li.active>a:focus,
            &>li.active>a:hover {
                background-color: transparent;
                color: #459ce7;
            }
        }

        .tab-content {
            border-top-color: #333;
        }
    }



    /*
    |--------------------------------------------------------------------------
    | Bootstrap overrides
    |--------------------------------------------------------------------------
    */

    a {
        color: #459ce7;
    }

    button.btn-default {
        background-color: #555;
        color: #eee;
        border-color: #777;
    }
}
