/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

@font-face {
    font-family: OpenSans;
    src: url('~open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf');
}


@font-face {
    font-family: OpenSans;
    src: url('~open-sans-fontface/fonts/Bold/OpenSans-Bold.ttf');
    font-weight: bold;
}


@font-face {
    font-family: OpenSans;
    src: url('~open-sans-fontface/fonts/Light/OpenSans-Light.ttf');
    font-weight: 100;
}
