/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

html {
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    overflow: hidden;
    font-family: OpenSans;
    border: 1px solid rgb(182, 182, 182);
}

* {
    -webkit-user-drag: none;
}

button {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #DDD;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .25);
}

input[type=range] {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background-color: #FFF;
        border: 1px solid #AAA;
        position: relative;
        top: -5px;
    }

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: #BBB;
        border: solid 1px #999;
        border-radius: 5px;
        height: 5px;
    }
}
