/*
|--------------------------------------------------------------------------
| View - LibraryList
|--------------------------------------------------------------------------
*/

.view-library,
.view-playlists {
    overflow: hidden;

    .tracks-list-container {
        outline: none;
        height: calc(100% - 26px);
        max-height: calc(100% - 26px);

        .tracks-list-header {
            position: fixed;
            top: 52px;
            border-bottom: 1px solid rgb(210, 210, 210);
            color: #555;
            display: flex;
            width: calc(100% - 2px);
            background-color: white;
            z-index: 20;

            .track-cell-header {
                position: relative;
                font-weight: 700;
                cursor: default;
                padding: 4px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
                .track-cell-header-inner {
                    padding: 0 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
                .sort-indicator {
                    width: 0; 
                    height: 0; 
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    &.up {
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid rgba(0, 0, 0, 0.6);
                    }                   
                    &.down {
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid rgba(0, 0, 0, 0.6);
                    }
                }

                &:not(:last-child) {
                  .track-cell-header-inner {
                        border-right: 1px solid #D2D2D2;
                    }
                }

                &:last-child {
                    margin-right: 4px;
                }
            }
        }

        .tracks-list-body {
            height: 100%;
            max-height: 100%;
            margin-top: 26px;
            overflow: auto;

            .tracks-list-tiles {
                position: relative;

                .tracks-list-tile {
                    position: absolute;
                    width: 100%;
                    z-index: 10;

                    .track {
                        display: flex;

                        &:nth-child(odd) {
                            background-color: #FAFAFA;
                        }

                        &.selected {
                            background-color: $main-color;
                            color: white;

                            // put that elsewhere someday
                            .playing-indicator {

                                .animation {

                                    .bar {
                                        background-color: #EEE;
                                    }
                                }
                            }
                        }

                        .cell {
                            padding: 3px 4px;
                            cursor: default;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 24px;
                        }
                    }
                }
            }
        }

        .cell-track-playing {
            width: 30px;
        }

        .cell-track {
            flex: 1;
            min-width: 200px;
        }
    }
}
