
/*
|--------------------------------------------------------------------------
| View - General
|--------------------------------------------------------------------------
*/

#wrap,
.main,
.main-content,
.content,
.view,
.columns {
    height: 100%;
    max-height: 100%;
}

.view {
    overflow: auto;
    position: relative;

    &.view-withpadding {
        padding: 15px;
    }
}

.main-content {
    padding-bottom: 84px;
}

.content {
    padding: 0;

    h2 {
        margin-top: 0;
    }

    .btn .fa {
        display: inline-block;
        margin-right: 12px;
    }
}

.full-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    color: #555;
    font-weight: 100;
    padding: 30px;
    margin: auto;
    text-align: center;

    .sub-message {
        font-size: 70%;
    }

    a {
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

.dropzone {
    border: dashed 1px lightgrey;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
    cursor: pointer;

    &.dragging {
        border-color: $main-color;
    }

    .title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .subtitle {
        color: #7d7d7d;
    }
}

.playing-indicator {
    height: 100%;
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ease-in-out .25s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    .animation {
        width: 8px;
        height: 8px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .bar {
            height: 1px;
            width: 2px;
            align-items: baseline;
            background-color: #333;
            animation: bar-animate;
            animation-duration: .8s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;

            &.bar-second {
                animation-delay: .55s;
            }

            &.bar-third {
                animation-delay: .25s;
            }

            &:not(:last-child) {
                margin-right: 1px;
            }
        }
    }
}

@keyframes bar-animate {

    from {
        height: 0;
    }

    50% {
        height: 8px;
    }

    to {
        height: 0;
    }
}
