/* Colors (default theme) */
:root {
  --main-color: #459ce7;
  --main-color-darker: #3a73a4;
  --main-color-lighter: #63aff0;
  --link-color: #459ce7;
  --link-color-hover: #52afff;
  --bold: 600;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Global styles */
html {
  font-size: 12px;
  user-select: none;
  height: 100%;
  overflow: hidden;
  color-scheme: var(--color-scheme);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text);
  user-select: none;
  height: 100%;
  overflow: hidden;
}

.os__linux,
.os__macos {
  font-weight: 500;
}

button {
  outline: none;
}

a {
  color: var(--link-color);

  &:hover,
  &:focus,
  &:active {
    color: var(--link-color-hover);
  }
}

input {
  outline: none;
}

p {
  line-height: 1.3;
}

strong {
  font-weight: var(--bold);
}

/* App wrapper */
#wrap {
  height: 100vh;
}

/* Generic class that can be used on call-to-actions to show the interactibility of an element */
[data-syncudio-action] {
  transition: transform 0.1s ease-in-out;
}

[data-syncudio-action]:hover {
  transform: scale(1.2);
}

[data-syncudio-action]:active {
  transform: scale(1);
}

/* Various CSS utils to reset styles */
.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.reset {
  border: 0;
  background-color: inherit;
  border-radius: 0;
  color: inherit;
}
