/* Colors (default theme) */
:root {
  --main-color: hsl(208, 77%, 59%);
  --main-color-darker: hsl(208, 48%, 44%);
  --main-color-lighter: hsl(208, 82%, 66%);
  --link-color: var(--main-color);
  --link-color-hover: hsl(208, 100%, 66%);
  --bold: 600;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Global styles */
html {
  font-size: 12px;
  user-select: none;
  height: 100%;
  overflow: hidden;
  color-scheme: var(--color-scheme);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text);
  user-select: none;
  height: 100%;
  overflow: hidden;
}

.os__linux,
.os__macos {
  font-weight: 500;
}

button {
  outline: none;
}

a {
  color: var(--link-color);

  &:hover,
  &:focus,
  &:active {
    color: var(--link-color-hover);
  }
}

input {
  outline: none;
}

p {
  line-height: 1.3;
}

strong {
  font-weight: var(--bold);
}

/* App wrapper */
#wrap {
  height: 100vh;
}

/* Generic class that can be used on call-to-actions to show the interactibility of an element */
[data-museeks-action] {
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }
}

/* Generic class to controll the active state of some element that get
 * de-emphasized, but still visibe, in case the focus is not on the list.
 */
[data-museeks-list]:focus-within {
  --active-item-bg: var(--main-color);
  --active-item-color: white;
}

/* Various CSS utils to reset styles */
.reset {
  border: 0;
  background-color: inherit;
  border-radius: 0;
  color: inherit;
}
