/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

html {
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    overflow: hidden;
    font-family: OpenSans;
    border: 1px solid rgb(182, 182, 182);
}

* {
    -webkit-user-drag: none;
}

button {
    outline: none;
}



/*
|--------------------------------------------------------------------------
| General - Customization
|--------------------------------------------------------------------------
*/

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

input[type=range] {
    -webkit-appearance: none;
    outline: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background-color: #FFF;
        border: 1px solid #AAA;
        position: relative;
        top: -5px;
    }

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: #BBB;
        border: solid 1px #999;
        border-radius: 5px;
        height: 5px;
    }
}




/*
|--------------------------------------------------------------------------
| Drag
|--------------------------------------------------------------------------
*/

header {
    -webkit-app-region: drag;

    .player-controls,
    .now-playing-bar,
    .now-playing-info-buttons,
    .search,
    .window-control,
    .queue-controls {
        -webkit-app-region: no-drag;
    }
}



/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

@font-face {
    font-family: OpenSans;
    src: url('../assets/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf');
}


@font-face {
    font-family: OpenSans;
    src: url('../assets/open-sans-fontface/fonts/Bold/OpenSans-Bold.ttf');
    font-weight: bold;
}


@font-face {
    font-family: OpenSans;
    src: url('../assets/open-sans-fontface/fonts/Light/OpenSans-Light.ttf');
    font-weight: 100;
}



/*
|--------------------------------------------------------------------------
| Bootstrap Modification
|--------------------------------------------------------------------------
*/

.btn {
    &.active {
        &.focus, &:focus {
            outline: none;
        }
    }
    &.focus {
        outline: none;
    }
    &:active {
        &.focus, &:focus {
            outline: none;
        }
    }
    &:focus {
        outline: none;
    }
}

.form-control:focus {
    border-color: #AAAAAA;
    box-shadow: none;
}



/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

header {
    border-bottom: 1px solid rgb(210, 210, 210);
    background-color: rgb(244, 244, 244);
    padding: 10px;
    display: flex;
    align-items: center;

    div[class*="col-"] {
        padding: 0;
    }

    .main-controls {

        .window-controls {
            float: left;
            margin-right: 30px;

            .window-control {
                width: 30px;
                height: 30px;
                font-size: 18px;
                color: rgba(0,0,0,0.3);
                border: 0;
                transition: all .2s ease-in-out;
                text-align: center;
                line-height: 22px;
                background-color: transparent;
                -webkit-app-region: no-drag;

                &:active {
                    background-color: #DFDFDF;
                    border: solid 1px #B8B8B8;
                }
            }
        }

        .player-controls {
            display: flex;
            align-items: center;
            margin-top: 2px;

            .player-control {
                border: 0;
                background: transparent;
                font-size: 16px;
                color: #555;
                padding: 0 10px;

                &.play {
                    font-size: 18px;
                }

                i {
                    display: flex;
                    align-items: center;
                }
            }

            .volume-control {
                position: absolute;
                z-index: 10;
                background-color: rgb(244, 244, 244);
                top: 0;
                left: 60px;
                display: none;
                padding: 5px 12px;

                &.visible {
                    display: block;
                }

                input[type=range] {
                    width: 88px;
                    height: 20px;
                    background-color: transparent;
                }
            }
        }
    }
    /* .windows-controls */

    .now-playing {

        .now-playing-infos {
            display: flex;
            align-items: center;
            justify-content: center;

            .pf {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
            }

            .player-options {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                min-width: 100px;

                .button {
                    border: 0;
                    background: transparent;
                    font-size: 18px;
                    -webkit-app-region: no-drag;

                    &.active {
                        color: #337ab7;
                    }
                }
            }

            .metas {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                vertical-align: middle;
                text-align: center;
                width: calc(100% - 200px);
            }

            .duration {
                display: inline-block;
                padding: 0 6px;
                font-size: 10px;
                min-width: 100px;
                text-align: right;
            }
        }

        .now-playing-bar .progress {
            height: 5px;
            margin-bottom: 0;
            margin-top: 5px;
            cursor: pointer;
            background-color: rgb(219, 219, 219);

            .progress-bar {
                background-color: #459CE7;
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
            }
        }
    }
    /* .now-playing */

    .queue-controls {

        .queue-toggle {
            border: 0;
            background: transparent;
            font-size: 14px;
        }

        .queue {
            display: none;
            position: absolute;
            width: 300px;
            background: white;
            border: solid 1px rgb(210, 210, 210);
            text-overflow: ellipsis;
            overflow-x: hidden;
            font-size: 12px;
            z-index: 10;
            color: grey;
            right: 20%;
            top: 30px;
            box-shadow: 0 5px 3px -5px rgba(0, 0, 0, .5);

            &.visible {
                display: block;
            }

            .empty-queue {
                padding: 20px;
                color: lightgrey;
            }

            .queue-header {
                padding: 5px 10px;
                background-color: rgb(244, 244, 244);

                .queue-infos {
                    float: right;
                    font-size: 11px;
                    padding-top: 1px;
                    padding-bottom: 1px;
                }

                .empty-button {
                    font-size: 10px;
                    padding: 1px 5px;
                }
            }

            .queue-body {
                max-height: 250px;
                overflow: auto;

                .track {
                    padding-bottom: 5px;
                    padding-top: 5px;
                    cursor: pointer;
                    -webkit-user-drag: element;

                    &:not(:last-child) {
                        border-bottom: dashed 1px #D8D8D8;
                    }

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        background-color: #f4f4f4;
                        padding: 0;
                    }

                    &.dragged {
                            display: none;
                    }

                    &.dragged-over {
                        padding-top: 0;

                        &::before {
                            margin-bottom: 5px;
                            padding: 20px 0;
                        }
                    }

                    &.dragged-over-after::after {
                        padding: 20px 0;
                    }

                    .title {
                        font-weight: bold;
                    }

                    .title,
                    .other-infos {
                        padding: 0 10px;
                        color: rgb(51, 51, 51);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .remove {
                        float: right;
                        width: 25px;
                        height: 25px;
                        line-height: 10px;
                        padding: 3px;
                        margin-top: 5px;
                        margin-right: 5px;
                        visibility: hidden;

                        &:hover,
                        &:focus,
                        &:active {
                            color: #555;
                            text-decoration: none;
                        }
                    }

                    &:hover .remove {
                        visibility: visible;
                    }
                } /* .track */
            }
        }
    }

} /* header */



/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

footer {
    position: fixed;
    bottom: 1px;
    width: calc(100% - 2px);
    border-top: 1px solid #AAA;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(244, 244, 244);
    padding: 0;

    .btn {
        background-color: transparent;
        border-top: 0;
        border-bottom: 0;
    }

    .status {
        font-size: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: #888;
    }
}



/*
|--------------------------------------------------------------------------
| General - Notifications
|--------------------------------------------------------------------------
*/

.alerts-container {
    position: fixed;
    right: 11px;
    z-index: 1;
    width: 320px;
}

.notification {
    margin-bottom: 10px;
    transition: all .3s;

    &.notification-enter {
        opacity: 0;
        transform: scale(0.8);
    }

    &.notification-enter-active {
        opacity: 1;
        transform: scale(1);
    }

    &.notification-leave {
        opacity: 0;
        transform: scale(0.8);
    }

    &.notification-leave-active {
        opacity: 0;
        transform: scale(0);
    }
}



/*
|--------------------------------------------------------------------------
| View - General
|--------------------------------------------------------------------------
*/

#wrap,
.main,
.main-content,
.content,
.view,
.columns {
    height: 100%;
    max-height: 100%;
}

.view {
    overflow: auto;
    position: relative;

    &.view-withpadding {
        padding: 15px;
    }
}

.main-content {
    padding-bottom: 84px;
}

.content {
    padding: 0;

    h2 {
        margin-top: 0;
    }

    .btn .fa {
        display: inline-block;
        margin-right: 12px;
    }
}

.full-message {
    font-size: 25px;
    color: #BBB;
    font-weight: 100;
    padding: 30px;
    margin: auto;
    padding-top: 35vh;
    text-align: center;

    .sub-message {
        font-size: 70%;
    }

    .loading {
        display: inline-block;
        margin-right: 10px;
        font-size: medium;
    }
}



/*
|--------------------------------------------------------------------------
| View - Settings
|--------------------------------------------------------------------------
*/

.view-settings .musicfolders-list {
    margin: 0 0 10px 0;
    padding: 10px;
    list-style: none;
    border: 1px solid lightgrey;

    &.empty {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .delete-libray-folder {
        margin-right: 5px;
        color: #d9534f;
        cursor: pointer;

        &.disabled {
            color: #CCC;
            cursor: default;
        }
    }
}



/*
|--------------------------------------------------------------------------
| View - LibraryList
|--------------------------------------------------------------------------
*/

.view-library-list {

    .track.selected {
        background-color: #459CE7;
        color: white;
    }

    .column-trackPlaying {
        width: 4%;
    }

    .column-track {
        width: 29%;
    }

    .column-duration {
        width: 7%;
    }

    .column-artist,
    .column-album,
    .column-genre {
        width: 20%;
    }

    table.tracks-list {
        width: 100%;
        white-space: nowrap;
        margin-bottom: 0;
        table-layout: fixed;

        thead {
            border-bottom: 1px solid rgb(210, 210, 210);

            td {
                padding: 4px 2px;
                border-top: 0;
                cursor: default;
            }

            th {
                padding: 4px 2px;
                border-top: 0;
                cursor: default;
                border-bottom: 0;
            }

            &:not(:last-child) > div {
                border-right: 1px solid rgb(210, 210, 210);
            }
        }

        tbody {
            td,
            th {
                padding: 4px 2px;
                border-top: 0;
                cursor: default;
            }

            td {
                cursor: default;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        tfoot {
            td,
            th {
                padding: 4px 2px;
                border-top: 0;
                cursor: default;
            }
        }
    }
}
