/*
|--------------------------------------------------------------------------
| Imports
|--------------------------------------------------------------------------
*/

@import 'themes/theme-light';
@import 'themes/theme-dark';



/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

html {
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    overflow: hidden;
    font-family: OpenSans;
    border: 1px solid rgb(182, 182, 182);
}

* {
    -webkit-user-drag: none;
}

button {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #DDD;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .25);
}



/*
|--------------------------------------------------------------------------
| General - Customization
|--------------------------------------------------------------------------
*/

input[type=range] {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background-color: #FFF;
        border: 1px solid #AAA;
        position: relative;
        top: -5px;
    }

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: #BBB;
        border: solid 1px #999;
        border-radius: 5px;
        height: 5px;
    }
}




/*
|--------------------------------------------------------------------------
| Drag
|--------------------------------------------------------------------------
*/

header {
    -webkit-app-region: drag;

    .player-controls,
    .now-playing-bar,
    .now-playing-info-buttons,
    .search,
    .window-control,
    .queue-controls {
        -webkit-app-region: no-drag;
    }
}



/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

@font-face {
    font-family: OpenSans;
    src: url('../dist/assets/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf');
}


@font-face {
    font-family: OpenSans;
    src: url('../dist/assets/open-sans-fontface/fonts/Bold/OpenSans-Bold.ttf');
    font-weight: bold;
}


@font-face {
    font-family: OpenSans;
    src: url('../dist/assets/open-sans-fontface/fonts/Light/OpenSans-Light.ttf');
    font-weight: 100;
}



/*
|--------------------------------------------------------------------------
| Bootstrap Modification
|--------------------------------------------------------------------------
*/

.btn {
    &.active {
        &.focus, &:focus {
            outline: none;
        }
    }
    &.focus {
        outline: none;
    }
    &:active {
        &.focus, &:focus {
            outline: none;
        }
    }
    &:focus {
        outline: none;
    }
}

.form-control:focus {
    border-color: #AAAAAA;
    box-shadow: none;
}

.nav-pills>li>a {
    transition: border-bottom ease-in-out .2s;
    padding: 5px;
    outline: none;
    color: #555;
    font-weight: bold;
}

.nav-pills>li:not(:last-child)>a {
    margin-right: 15px;
}

.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    background-color: transparent;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: transparent;
    color: #459CE7;
}



/*
|--------------------------------------------------------------------------
| Notifications
|--------------------------------------------------------------------------
*/

.notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    z-index: 1000;
}



/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/

header {
    border-bottom: 1px solid rgb(210, 210, 210);
    background-color: rgb(244, 244, 244);
    padding: 10px;
    display: flex;
    align-items: center;
    color: #555;


    div[class*="col-"] {
        padding: 0;
    }

    .main-controls {

        .window-controls {
            float: left;
            margin-right: 30px;

            .window-control {
                width: 30px;
                height: 30px;
                font-size: 18px;
                color: #555;
                border: 0;
                transition: all .2s ease-in-out;
                text-align: center;
                line-height: 22px;
                background-color: transparent;
                -webkit-app-region: no-drag;

                &:active {
                    background-color: #DFDFDF;
                    border: solid 1px #B8B8B8;
                }
            }
        }

        .player-controls {
            display: flex;
            align-items: center;
            margin-top: 2px;

            .player-control {
                border: 0;
                background: transparent;
                font-size: 16px;
                padding: 0 10px;

                &.play {
                    font-size: 20px;
                    padding: 0 5px;
                }

                &.volume {
                    padding: 0;
                    width: 34px;
                }

                i {
                    display: flex;
                    align-items: center;
                }
            }

            .volume-control {
                position: absolute;
                z-index: 10;
                background-color: rgb(244, 244, 244);
                top: 0;
                left: 60px;
                display: none;
                padding: 5px 12px;

                &.visible {
                    display: block;
                }

                input[type=range] {
                    width: 88px;
                    height: 20px;
                    background-color: transparent;
                }
            }
        }
    }
    /* .windows-controls */

    .now-playing {

        &.dragging {
            -webkit-app-region: no-drag;
        }

        .now-playing-infos {
            display: flex;
            align-items: center;
            justify-content: center;

            .pf {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
            }

            .player-options {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                min-width: 100px;

                .button {
                    border: 0;
                    background: transparent;
                    font-size: 18px;
                    -webkit-app-region: no-drag;

                    &.active {

                        svg {
                            fill: #337ab7;
                        }
                    }

                    svg {
                        width: 16px;
                        height: auto;
                    }
                }
            }

            .metas {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                vertical-align: middle;
                text-align: center;
                width: calc(100% - 200px);
            }

            .duration {
                display: inline-block;
                padding: 0 6px;
                font-size: 10px;
                min-width: 100px;
                text-align: right;
            }
        }

        .now-playing-bar {
            padding: 2px;

            .playing-bar-tooltip {
                position: fixed;
                background-color: #FFF;
                border: 1px solid #CECECE;
                color: #555;
                font-size: 10px;
                padding: 2px 5px;
                top: 10px;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent;
                    border-bottom: 0;
                }

                /* Stroke */
                &::before {
                    top: 18px;
                    left: 5px;

                    /* If 1px darken stroke slightly */
                    border-top-color: #CECECE;
                    border-width: 6px;
                }

                /* Fill */
                &::after {
                    top: 18px;
                    left: 6px;
                    border-top-color: #FFF;
                    border-width: 5px;
                }
            }

            .progress {
                height: 5px;
                margin-bottom: 0;
                margin-top: 3px;
                cursor: pointer;
                background-color: rgb(219, 219, 219);

                .progress-bar {
                    background-color: #459CE7;
                    -webkit-transition: none;
                    -o-transition: none;
                    transition: none;
                }
            }
        }
    }
    /* .now-playing */

    .queue-controls {

        .queue-toggle {
            border: 0;
            background: transparent;
            font-size: 14px;
        }

        .queue {
            display: none;
            position: absolute;
            width: 300px;
            background: white;
            border: solid 1px rgb(210, 210, 210);
            text-overflow: ellipsis;
            overflow-x: hidden;
            font-size: 12px;
            z-index: 30;
            color: grey;
            right: 20%;
            top: 30px;
            box-shadow: 0 5px 3px -5px rgba(0, 0, 0, .5);

            &.visible {
                display: block;
            }

            .empty-queue {
                padding: 20px;
                color: lightgrey;
            }

            .queue-header {
                padding: 5px 10px;
                background-color: rgb(244, 244, 244);

                .queue-infos {
                    float: right;
                    font-size: 11px;
                    padding-top: 1px;
                    padding-bottom: 1px;
                }

                .empty-button {
                    font-size: 10px;
                    padding: 1px 5px;
                }
            }

            .queue-body {
                max-height: 250px;
                overflow: auto;

                .track {
                    padding-bottom: 5px;
                    padding-top: 5px;
                    cursor: pointer;
                    -webkit-user-drag: element;

                    &:not(:last-child) {
                        border-bottom: dashed 1px #D8D8D8;
                    }

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        background-color: #f4f4f4;
                        padding: 0;
                    }

                    &.dragged {
                            display: none;
                    }

                    &.dragged-over {
                        padding-top: 0;

                        &::before {
                            margin-bottom: 5px;
                            padding: 20px 0;
                        }
                    }

                    &.dragged-over-after::after {
                        padding: 20px 0;
                    }

                    .title {
                        font-weight: bold;
                    }

                    .title,
                    .other-infos {
                        padding: 0 10px;
                        color: rgb(51, 51, 51);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .remove {
                        float: right;
                        width: 25px;
                        height: 25px;
                        line-height: 10px;
                        padding: 3px;
                        margin-top: 5px;
                        margin-right: 5px;
                        visibility: hidden;

                        &:hover,
                        &:focus,
                        &:active {
                            color: #555;
                            text-decoration: none;
                        }
                    }

                    &:hover .remove {
                        visibility: visible;
                    }
                } /* .track */
            }
        }
    }

} /* header */



/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

footer {
    position: fixed;
    bottom: 1px;
    width: calc(100% - 2px);
    border-top: 1px solid #AAA;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(244, 244, 244);
    padding: 0;

    .view-switcher {

        .btn {
            background-color: transparent;
            border-top: 0;
            border-bottom: 0;

            &.btn-default.active,
            &.btn-default:active {
                box-shadow: none;
                -webkit-box-shadow: none;
                background-color: #e6e6e6;
            }

            &.btn-default.active {
                color: #459CE7;
            }
        }
    }


    .status {
        font-size: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: #888;
    }
}



/*
|--------------------------------------------------------------------------
| View - General
|--------------------------------------------------------------------------
*/

#wrap,
.main,
.main-content,
.content,
.view,
.columns {
    height: 100%;
    max-height: 100%;
}

.view {
    overflow: auto;
    position: relative;

    &.view-withpadding {
        padding: 15px;
    }
}

.main-content {
    padding-bottom: 84px;
}

.content {
    padding: 0;

    h2 {
        margin-top: 0;
    }

    .btn .fa {
        display: inline-block;
        margin-right: 12px;
    }
}

.full-message {
    font-size: 25px;
    color: #BBB;
    font-weight: 100;
    padding: 30px;
    margin: auto;
    padding-top: 35vh;
    text-align: center;

    .sub-message {
        font-size: 70%;
    }

    .loading {
        display: inline-block;
        margin-right: 10px;
        font-size: medium;
    }
}



/*
|--------------------------------------------------------------------------
| View - Settings
|--------------------------------------------------------------------------
*/

.view-settings {

    .settings-switcher .nav.nav-pills {
        margin: 10px 15px;
    }

    .tab-content {
        border-top: 1px solid #d2d2d2;
        padding: 10px 15px;

        .setting-section:not(:first-child) {
            margin-top: 25px;
        }
    }
}



/*
|--------------------------------------------------------------------------
| View - About
|--------------------------------------------------------------------------
*/

.view-settings .setting-about {

    .heart {
        color: #c70000;
    }

    button.update-checker {
        margin-left: 10px;
    }
}



/*
|--------------------------------------------------------------------------
| View - Settings - Library
|--------------------------------------------------------------------------
*/

.view-settings .settings-musicfolder {

    .musicfolders-list {
        margin: 0 0 10px 0;
        padding: 10px;
        list-style: none;
        border: 1px solid lightgrey;

        &.empty {
            margin: 0;
            padding: 0;
            border: 0;
        }

        .delete-libray-folder {
            margin-right: 5px;
            color: #d9534f;
            cursor: pointer;

            &.disabled {
                color: #CCC;
                cursor: default;
            }
        }
    }

    .library-refresh-progress.progress {
        display: inline-block;
        width: 200px;
        margin: 10px;
        vertical-align: middle;
        height: 5px;

        .progress-bar {
            background-color: #459CE7;
        }
    }
}



/*
|--------------------------------------------------------------------------
| View - LibraryList
|--------------------------------------------------------------------------
*/

.view-library-list {
    overflow: hidden;

    .tracks-list-container {
        outline: none;
        height: calc(100% - 26px);
        max-height: calc(100% - 26px);

        .tracks-list-header {
            position: fixed;
            top: 52px;
            border-bottom: 1px solid rgb(210, 210, 210);
            color: #555;
            display: flex;
            width: calc(100% - 2px);
            background-color: white;
            z-index: 20;

            .track-cell-header {
                font-weight: 700;
                padding: 0 4px;
                cursor: default;
                margin: 4px 0;

                &:not(:last-child) {
                    border-right: 1px solid #D2D2D2;
                }

                &:last-child {
                    margin-right: 11px;
                }
            }
        }

        .tracks-list-body {
            height: 100%;
            max-height: 100%;
            margin-top: 26px;
            overflow: auto;

            .tracks-list-tiles {
                position: relative;

                .tracks-list-tile {
                    position: absolute;
                    width: 100%;
                    z-index: 10;

                    .track {
                        display: flex;

                        &:nth-child(odd) {
                            background-color: #FAFAFA;
                        }

                        &.selected {
                            background-color: #459CE7;
                            color: white;
                        }

                        .cell {
                            padding: 4px;
                            cursor: default;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        .cell-track-playing {
            width: 30px;
        }

        .cell-track {
            width: calc(33% - 30px);
        }

        .cell-duration {
            width: 7%;
        }

        .cell-artist,
        .cell-album,
        .cell-genre {
            width: 20%;
        }
    }
}



/*
|--------------------------------------------------------------------------
| Third Parties
|--------------------------------------------------------------------------
*/

.react-simple-input-container {
    position: relative;

    .react-simple-input {
        padding: 6px 12px;
        border: 1px solid #C7C7C7;
        color: #555;
    }

    .react-simple-input-clear {
        position: absolute;
        right: 6px;
        top: 2px;
        font-size: 16px;
        color: #777;
        cursor: pointer;
        padding: 2px;
    }
}
