.cover {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  text-align: center;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.cover__note {
  font-family: monospace; /* the sexy one */
  font-size: 30px;
  line-height: 28px;
}
