.progress {
  flex: 1; /* REMOVE */
  display: block;
  height: 5px;
  background-color: var(--progress-bg);

  &.animated {
    .progress-bar {
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
      background-size: 10px 10px;
      animation: progress-bar-animation 1s linear infinite;
    }
  }
}

.progress-bar {
  height: 5px;
  background-color: var(--main-color);
}

@keyframes progress-bar-animation {
  from { background-position: 10px 0; }
  to { background-position: 0 0; }
}
