
.queue__item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: dashed 1px var(--border-color);
  }

  &.is-dragged {
    .queue__item__info {
      opacity: 0.25;
    }
  }

  &.is-dragged-over {
    &::after {
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      content: "";
      border-bottom: solid 3px var(--main-color);
    }

    &.is-above::after {
      top: -2px;
    }

    &.is-below::after {
      bottom: -2px;
    }
  }

  &:hover .queue__item__remove {
    visibility: visible;
  }
}

.queue__item__remove {
  color: var(--text-color);
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  line-height: 10px;
  padding: 3px;
  margin-top: 3px;
  margin-right: 5px;
  visibility: hidden;
  font-size: 14px;

  &:hover,
  &:focus,
  &:active {
    color: var(--text-color);
    text-decoration: none;
  }
}

.queue__item__info {
  flex: 1;
  min-width: 0;
}

.queue__item__info__title {
  font-weight: bold;
}

.queue__item__info__title,
.queue__item__info__other-infos {
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
