.cell {
  padding: 3px 4px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.track {
  position: relative;
  display: flex;
  outline: none;

  &:nth-child(odd) {
    background-color: var(--tracks-bg-odd);
  }

  &:nth-child(even) {
    background-color: var(--tracks-bg-even);
  }

  &.selected {
    background-color: var(--main-color);
    color: white;

    /* // put that elsewhere someday
    .playing-indicator {

      .animation {

        .bar {
          background-color: #EEE;
        }
      }
    } */
  }

  &.reordered {
    opacity: 0.5;
  }

  &.is-reordered-over {
    &::after {
      pointer-events: none;
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      content: "";
      border-bottom: solid 2px var(--main-color);
    }

    &.is-above::after {
      top: -1px;
    }

    &.is-below::after {
      bottom: -1px;
    }
  }
}
