.libraryFolders {
  list-style: none;
  padding: 4px 8px;
  margin: 0;
  font-family: monospace;
  border: solid 1px var(--border-color);
  overflow-x: auto;
  white-space: pre;
  width: 120%;
}

.libraryFoldersRemove {
  color: red;
  border: none;
  background: transparent;
  appearance: none;
  font-size: 16px;
}
