.detailsForm {
  display: flex;
  flex-direction: column;
}

.detailsCover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 16px;
}
