:global(.os-darwin) .header__main-controls {
  padding-left: 65px; /* let some space for titleBarStyle */
}

/* The native frame may be light, so we need to increase the contrast between
   the frame and the header */
:global(.os-win32),
:global(.os-linux) {
  .header {
    border-top: 1px solid var(--border-color);
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  flex: 0 0 auto;

  /* Draggable region (zone able to move the window) */
  -webkit-app-region: drag;
}

.header__main-controls {
  width: 220px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.header__search {
  -webkit-app-region: no-drag;
  width: 220px;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

.header__search__input {
  display: block;
  font-size: inherit;
  width: 100%;
  padding: 6px 12px;
  background-color: var(--search-bg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.header__playing-bar {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 600px;
}
