
.render-view {
  overflow-x: hidden !important; /* Overriding react-custom-scrollbars */
  margin-bottom: 0 !important; /* there is no overflow-x */
}

.vertical-track {
  right: 8px;
  background-color: var(--scrollbar-track);
  top: 8px;
  bottom: 8px;
  z-index: 10;
}

.vertical-thumb {
  background-color: var(--scrollbar-thumb);
}
