.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.navLink {
  display: inline-block;
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &.navLinkActive {
    color: var(--main-color);
  }
}
