.view {
  height: 100%;
  max-height: 100%;
  background-color: var(--background);
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}

.centered {
  display: grid;
  grid-template-columns: 500px;
  justify-content: center;
}

.centeredViewContent {
  position: relative;
}

.hasPadding {
  padding: 40px;
}

.viewWithSideNav {
  display: flex;
  overflow: hidden;
}

.viewContent {
  flex: 1;
}
