.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  background-color: var(--cover-bg);
  position: relative;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: none;
}

.visible {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.empty {
  border: solid 1px var(--border-color);
  box-sizing: border-box;
}

.noBorder {
  border-width: 0;
}

.note {
  color: var(--text-muted);
  font-size: 1rem;
  line-height: 1;
}
