.footer {
  background-color: var(--footer-bg);
  border-top: solid 1px var(--border-color);
  flex: 0 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: stretch;
}

.footerNavigation {
  display: flex;
  align-items: stretch;
  width: 30%;
}

.footerNavigationLinkgroup {
  display: flex;
  align-items: stretch;
}

.footerNavigationLink {
  border: solid 1px var(--border-color);
  border-width: 0 1px;
  color: inherit;
  padding: 8px 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: inherit;
  }

  &:active {
    background-color: var(--footer-nav-bg-color-active);
    z-index: 1;
  }

  &:focus {
    color: inherit;
  }

  & + .footerNavigationLink {
    margin-left: -1px;
  }

  &.footerNavigationLinkIsActive {
    background-color: var(--footer-nav-bg-color-active);
    color: var(--main-color);
  }
}

.footerStatus {
  width: 40%;
  text-align: center;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLibraryRefresh {
  display: flex;
  flex: 1;
  align-items: center;
}

.footerLibraryRefreshProgress {
  flex: 1;
  margin-right: 10px;
}

.footerLibraryRefreshCount {
  font-variant-numeric: tabular-nums;
}
