.header {
  border-bottom: solid 1px var(--border-color);
  background-color: var(--header-bg);
  box-sizing: content-box;
  color: var(--header-color);
  padding: 0 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 50px;
  flex: 0 0 auto;
}

/* The native frame may be light, so we need to increase the contrast between
   the frame and the header */
:global(.os__windows) {
  .header {
    border-top: 1px solid var(--border-color);
  }
}

.headerMainControls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 200px;
  padding-left: 12px;
}

:global(.os__macos) .headerMainControls {
  padding-left: 60px; /* let some space for titleBarStyle */
}

.headerSearch {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

.headerPlayingBar {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 600px;
  display: flex;
}

.queue {
  margin: 0px 16px;
  display: flex;
  align-items: center;
}

.queueContainer {
  z-index: 1000;

  &[data-state="open"] {
    display: block;
  }
}
