.playingBar {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  background: var(--header-bg-softer);
  border-right: solid 1px var(--border-color-softer);
  border-width: 0 1px;
  flex: 1 1 auto;
  min-width: 0;
}

.playingBarCover {
  flex-shrink: 0;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  box-sizing: content-box;
  font-size: 28px;
}

.playerOptions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 8px;
}
