.progress {
  --progress-height: 6px;

  flex: 1;
  display: block;
  height: var(--progress-height);
  background-color: var(--progress-bg);
}

.progressBar {
  height: var(--progress-height);
  background-color: var(--main-color);
  transition: width 0.2s ease-in-out;
}
