.queueHeader {
  padding: 5px 10px;
  background-color: var(--queue-header-bg);
  border-bottom: solid 1px var(--border-color);
}

.queueHeaderInfos {
  float: right;
  font-size: 11px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.queueContent {
  max-height: 250px;
  overflow: auto;
}
