.queueItemRemove {
  color: var(--text);
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  line-height: 10px;
  padding: 3px;
  margin-right: 5px;
  visibility: hidden;
  font-size: 14px;

  &:hover,
  &:focus,
  &:active {
    color: var(--text);
    text-decoration: none;
  }
}

.queueItem {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  cursor: pointer;
  align-items: center;

  &:not(:first-child) {
    border-top: dashed 1px var(--border-color);
  }

  &:hover .queueItemRemove {
    visibility: visible;
  }
}

.queueItemCover {
  margin: 8px;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 3px;
  overflow: hidden;
  font-size: 16px;
}

.queueItemInfo {
  flex: 1;
  min-width: 0;
}

.queueItemInfoTitle {
  font-weight: bold;
  margin-bottom: 4px;
}

.queueItemInfoTitle,
.queueItemInfoOtherInfos {
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.queueItemInfoOtherInfos {
  opacity: 0.7;
  font-size: 0.875rem;
}
