.settingSection {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.settingTitle {
  display: block;
  margin: 0;
}

.settingDescription {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 4px;
  color: var(--text-muted);
}

.settingLabel {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
}

.settingLabelNoMargin {
  margin: 0;
}

.settingSelect,
.settingInput {
  appearance: none;
  display: block;
  background: var(--input-bg);
  color: var(--input-color);
  border: solid 1px var(--border-color-softer);
  border-radius: var(--border-radius);
  padding: 8px;
  width: 100%;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: var(--main-color);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.settingError {
  color: red;
}
