.sideNav {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  width: 200px;
  border-right: 1px solid var(--border-color);
  background-color: var(--sidebar-bg);
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.sideNavActions {
  align-items: stretch;
}

.sideNavTitle {
  margin: 10px 12px;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--text-muted);
  flex: 1;
}

.sideNavItems {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
