.sideNavLink {
  display: block;
  flex-shrink: 0;
  width: 100%;
  line-height: 1;
  font-size: 1rem;
  color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  padding: 8px 12px;
  text-decoration: none;

  &:hover {
    background-color: var(--sidebar-item-active-bg);
    color: var(--text);
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    color: inherit;
  }

  &:global(.isActive) {
    outline: none;
    z-index: 10;
    background-color: var(--active-item-bg);
    color: var(--active-item-color);
  }
}

.sideNavLinkInput {
  appearance: none;
  border: none;
  background: transparent;
  background-color: var(--sidebar-item-active-bg);
  height: 28px; /* Problem with inputs? */
}
