.volumeControlContainer {
  position: relative;
  width: 35px;
}

.volumeControl {
  background-color: var(--header-bg);
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  padding: 10px 12px;
  opacity: 0;
  pointer-events: none;
  transition: all .1s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.sliderRoot {
  --slider-height: 10px;

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 90px;
  height: var(--slider-height);
  border-radius: var(--border-radius);
}

.sliderTrack {
  background-color: var(--slider-bg);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 4px;
}

.sliderRange {
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
}

.sliderThumb {
  display: block;
  width: var(--slider-height);
  height: var(--slider-height);
  background-color: white;
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: 50%;
}

.sliderThumb:active {
  outline: none;
  box-shadow: 0 0 0 2px var(--main-color);
}
