.volumeControlContainer {
  position: relative;
}

.volumeControl {
  background-color: var(--header-bg);
  position: absolute;
  z-index: 10;
  top: -4px;
  left: -110px;
  display: none;
  padding: 10px 12px;

  &.visible {
    display: block;
  }
}
