.player-controls {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  position: relative;

  .control {
    border: 0;
    background: transparent;
    font-size: 16px;
    padding: 0 10px;
    color: inherit;

    &.play {
      font-size: 20px;
      padding: 0 5px;
    }

    &.volume {
      padding: 0;
      width: 34px;
      position: relative;
    }

    i {
      display: flex;
      align-items: center;
    }
  }
}
