:global(.os__darwin) .header__mainControls {
  padding-left: 65px; /* let some space for titleBarStyle */
}

/* The native frame may be light, so we need to increase the contrast between
   the frame and the header */
:global(.os__win32),
:global(.os__linux) {
  .header {
    border-top: 1px solid var(--border-color);
  }
}

.header {
  border-bottom: solid 1px var(--border-color);
  background-color: var(--header-bg);
  color: var(--header-color);
  padding: 0 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 50px;
  flex: 0 0 auto;

  /* Draggable region (zone able to move the window) */
  -webkit-app-region: drag;
}

.header__mainControls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.header__search {
  -webkit-app-region: no-drag;
  margin-left: 12px;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

.header__playingBar {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 600px;
}

.header__queue {
  display: flex;
  align-items: center;
}

.queueToggle {
  line-height: 22px;
  margin-left: 12px;
  color: inherit;
  border: 0;
  background: transparent;
  font-size: 14px;
  box-shadow: none;
  -webkit-app-region: no-drag;
}

.queueContainer {
  -webkit-app-region: no-drag;
  display: none;
  position: absolute;
  z-index: 1000;
  text-align: left;
  right: 0;

  &[data-state='open'] {
    display: block;
  }
}
