.setting-section {}

.setting-title {
  display: inline-block;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 10px;
}

.setting-description {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}
