.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.button {
  -webkit-app-region: no-drag;
  border: 0;
  color: inherit;
  background: transparent;
  font-size: 20px;

  &.active {
    .icon > svg {
      fill: var(--main-color);
    }
  }

  .icon > svg {
    fill: currentcolor;
    width: 18px;
    height: auto;
  }
}
