.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  fill: currentcolor;
}

.button {
  border: 0;
  color: inherit;
  background: transparent;
  font-size: 20px;
  padding: 0 8px;

  &.active {
    .icon {
      fill: var(--main-color);
    }
  }
}
