name: build

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  qa:
    # For QA (lint, test, etc), Linux is enough
    # https://github.com/tauri-apps/tauri-action/issues/745#issuecomment-2024998604
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: 'Test: Rust (+ Generate Types)'
        run: bun run gen

      - name: 'Test: TS/JS linting & formatting'
        run: 'bun run test:lint'

      - name: 'Test: unit'
        run: 'bun run test:unit'

      - name: 'Test: Types'
        run: 'bun run test:typings'

      - name: Build application
        run: bun run build

      # Check one of the command above did not generate any unexpected artifacts
      # (like types generation)
      - name: Check if git is dirty
        run: |
          if [[ -n $(git status --porcelain) ]];
          then
            echo "git is dirty, make sure you ran the gen script"
            git status --porcelain
            exit 1;
          fi

  # Documentation on environments:
  # https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners

  binaries:
    needs: qa

    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install native dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Install frontend dependencies
        run: bun install --frozen-lockfile

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          includeUpdaterJson: false
