name: build

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  qa:
    # For QA (lint, test, etc), Linux is enough
    # https://github.com/tauri-apps/tauri-action/issues/745#issuecomment-2024998604
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Generate types
        run: cargo test --manifest-path src-tauri/Cargo.toml

      - name: 'Test: formatting'
        run: 'yarn run test:formatting'

      - name: 'Test: TS/JS linting'
        run: 'yarn run test:lint'

      - name: 'Test: CSS linting'
        run: 'yarn run test:css'

      - name: 'Test: unit'
        run: 'yarn run test:unit'

      - name: 'Test: Rust + Code Generation'
        run: 'cargo test --manifest-path src-tauri/Cargo.toml'

      - name: 'Test: Types'
        run: 'yarn run test:typings'

      - name: Build application
        run: yarn run build

  # Documentation on environments:
  # https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners

  binaries:
    needs: qa

    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install native dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Install frontend dependencies
        run: yarn install --frozen-lockfile

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          includeUpdaterJson: false
