.checkbox {
  input[type="checkbox"] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: var(--border-radius);
    display: inline-block;
    background-color: var(--checkbox-bg);
    outline: none;
    vertical-align: sub;
    position: relative;
    margin-right: 6px;

    &:focus {
      box-shadow: 0 0 0 3px var(--border-color);
    }

    &:checked {
      background-color: var(--main-color);

      &::after {
        content: "\f00c";
        /* stylelint-disable-next-line */
        font-family: FontAwesome;
        font-size: 10px;
        color: white;
        position: absolute;
        top: 3px;
        left: 3px;
      }
    }
  }
}
