.volume-control-container {
  position: relative;
}

.volume-control {
  background-color: var(--header-bg);
  position: absolute;
  z-index: 10;
  top: -4px;
  left: 30px;
  display: block;
  padding: 10px 5px;
}
