.volume-control-container {
  position: relative;
}

.volume-control {
  background-color: var(--header-bg);
  position: absolute;
  z-index: 10;
  top: -4px;
  left: 30px;
  padding: 10px 5px;

  @media (min-width: 1200px) {
    display: block;
  }

  @media (max-width: 1199px) {
    display: none;

    &.visible {
      display: block;
      border: 1px solid lightgray;
    }
  }
}
