
.dropzone {
  border: dashed 1px var(--border-color);
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:active {
    border-color: var(--main-color);
  }
}

.dropzone:global(.-is-dragging) {
  border-color: var(--main-color);
}

.dropzone__title {
  font-size: 16px;
  margin-bottom: 5px;
}

.dropzone__subtitle {
  color: var(--text-color);
}
